.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {transform: rotate(0deg) translateX(0) translateY(0);}
  to {transform: rotate(45deg) translateX(1.5467960839em) translateY(1.5467960839em);}
}

@keyframes middle {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes bottom {
  from {transform: rotate(0deg) translateX(0) translateY(0);}
  to {transform: rotate(-45deg) translateX(1.5467960839em) translateY(-1.5467960839em);}
}
  /*The transform function broke when i tired to seperate the translates from the rotation. So I pulled out my unit circle
  and made this work with math. The number of pixles should be the square root of 2 divided by 2 times 35.
  the pixles seem to be rounding so the x doesnt line up perfectly even though I did the math right.
  I converted it to ems but there still seems to be some rounding error. It should look fine with the number of 
  sig figs I used but it's still pretty noticable. Whatever I'm sure there was an easier way to do this.*/